<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Echolynk"
        tools:targetApi="31">

        <!-- Sandaru -->
        <activity
            android:name=".View.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".View.StartupActivity"
            android:exported="false">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <!-- Dakshina -->
        <activity
            android:name=".View.LandingPage"
            android:exported="false" />
        <activity
            android:name=".View.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"/>
        <activity
            android:name=".View.SignIn"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".View.VerifyCode"
            android:exported="false" />
        <activity
            android:name=".View.SignUp"
            android:exported="true" />
        <activity
            android:name=".View.HomeBlog"
            android:exported="false" />
        <activity
            android:name=".View.blog_card_custom"
            android:exported="false" />
        <activity
            android:name=".View.BlogView"
            android:exported="false" />
        <activity
            android:name=".View.EmptyPage"
            android:exported="false" />
        <activity
            android:name=".View.BlogViewRecentArticlesCustom"
            android:exported="false" />
        <activity
            android:name=".View.VoiceAssistanceThree"
            android:exported="false" />
        <activity
            android:name=".View.LiveConversation"
            android:exported="false" />
        <activity
            android:name=".View.CustomLiveConversationTab"
            android:exported="false" />
        <activity
            android:name=".View.LiveConversationChat"
            android:exported="false"/>
        <activity
            android:name=".View.sender_massage"
            android:exported="false" />
        <activity
            android:name=".View.reserveMessage"
            android:exported="false" />
        <activity
            android:name=".View.Suggestion_massage"
            android:exported="false" />
    </application>

</manifest>